body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}
#container {
    display: inline-block;
    text-align: center;
}

#content{
    font-size: 18px;
}

h1 {
    text-align: center;
}
#paymentForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}
.price-info {
    text-align: center;
}
.payment-methods {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.payment-method {
    text-align: center;
    padding: 10px 20px;
    border: 4px solid #ff4d4d;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px ;
    font-weight:bold;
}
input[type="submit"] {
    display: none;
}
.total-price {
    margin-top: 20px;
    font-weight: bold;
}
#card{
    width: 100px;
    padding: 15px;
    display: block;
}
#cash{
    width: 100px;
    padding: 17px;
    display: block;
}
#point{
    width: 100px;
    padding: 10px;
    display: block;
    
}