@charset "UTF-8";

#point-box {
    display: flex;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

#input-container input[type="text"] {
    width: 250px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#search-btn {
    display: flex;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #e70c0c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#search-btn:hover {
  background-color: #8d1904;
}

#return-btn{
    text-align: center;
}

#return-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #e70c0c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#return-button:hover {
  background-color: #8d1904;
}

.dial-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.dial-button {
  display: inline-block;
  width: 85px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dial-button:hover {
  background-color: #ddd;
}

#result {
  margin-top: 30px;
}

#point-title2 {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 30px;
}