#pointInfo{
    display: inline-flex;
    height: 100px;
}
#pointInput{
    display: inline-block;
    width: 240px;
}
#pointInput input[type="text"]{
    width: 200px;
    height: 20px;
    padding: 10px;
}
#birth{
    display: inline-block;
    margin-top: 15px;
}
#check-btn{
    display: inline-block;
}

#search-button02 {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #e70c0c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 100px;
}